/************* news-feed css **************/
#bg{
    background-image: url('images/sky.jpg');
    background-size: cover;
    background-attachment: fixed;
}


#navbar{
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar-brand, .links{
    color: white;
}

h1{
    text-align: center;
}
.content{
    width: 70vw;
    height: 100vh;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

.content .row{
    background-color: white;
    /*border: 1px solid black;*/
    margin-bottom: 5%;
    border-radius: 10px;
    box-shadow: 10px 10px 28px 0 rgba(0,0,0,0.75);
}

.col-xs-4 {
    text-align: right;
    vertical-align: bottom;
    line-height: 70px;
    height: 3vh;
}

.col-xs-12 {
    padding-bottom: 5%
}


/******* MODAL CSS ******/

.modal-content {
    border-width: 20px;
    border-style: ridge;
    border-color: #336799;
    background-color: #bbc2c9;
}

.modal-body textarea{
  width: 100%;
}

.modal-body input{
    width: 40%;
    font-size: 25px;
    margin-bottom: 3%;
}

/*profile page*/

#profile-page .row {
    background-color: transparent;
    border: none;
    margin-top: 20px;
}

#profile-page .blogPart {
    background-color: #EEE;
    overflow: hidden;
    height: 200px;
    box-shadow: 10px 10px 28px 0px rgba(0,0,0,0.75);
}

#profile-page .profile-image {
    margin: 40px;
}

#profile-page .profile-image img {
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
}

#profile-page .new-post {
    text-align: center;
}

#profPic{
    width: 40px;
}

